{% extends "base.html" %}
{% block title %}{{product.name}}{% endblock title %}
{% load custom_filters %}

{% block content %}
<style>
  ul.thumb{
    margin:0 auto;
    padding:0;
    float:left;

  }
  ul.thumb li{
    list-style:none;
    margin:10px;
    
  }
  ul.thumb li img{
    width:80px;
    height:80px;
    border:1px solid gray;

  }
</style>
<!-- ============================ SECTION CONTENT START ================================= -->
<section class="section-content padding-y bg">
    <div class="container">
    {% include "basic_include/alerts.html" %}
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap mainimage">
           <center><img src="{{product.image.url}}"></center>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
    <ul class="thumb">
      <li>
        <a href="{{product.image.url}}" target="mainimage"><img src="{{product.image.url}}" alt="Product image"></a>
        {% for i in product_images %}
        <a href="{{i.image.url}}" target="mainimage"><img src="{{i.image.url}}" alt="Product image"></a>
        {% endfor %}
      </li>
    </ul>
            </aside>
            <main class="col-md-6 border-left">
    <form action="{% url 'add_to_cart' product.slug%}" method="POST">
      {% csrf_token %}
      <article class="content-body">
      
      <h2 class="title">{{product.name}}</h2><br>
      
      <div class="mb-3"> 
          <var class="price h4">₹ {{product.discount_price}}.00</var> <br>
          <del class="price h5 mt-1" style="color:gray;">₹ {{product.price}}</del>

          <span class="price h4" style="color:green;"> Save {{product.discount}} %</span>
      </div> 
      
      <p>{{product.description}}</p>
      
      
      <hr>
          <div class="row">
              <div class="item-option-select" >
                {% if not product.variants.colors %} <!-- calling using related_name from products.models.ProductVariant. (django reverse relationship name) -->
                <br><br>
                {% else %}
                  <h6>Choose Color</h6>
                  <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons" >
                    {% for item in product.variants.colors %} <!-- calling using related_name from products.models.ProductVariant. (django reverse relationship name)-->
                    <label class="btn btn-light">
                      <input type="radio" value="{{item.variant_value}}" name="color" required> {{item.variant_value | capfirst}}
                    </label>
                    {% endfor %}
                  </div> 
                {% endif %}
              </div>
          </div> <!-- row.// -->
          <div class="row">
              <div class="item-option-select" >
                {% if not product.variants.sizes %} <!-- calling using related_name from products.models.ProductVariant. (django reverse relationship name) -->
                {% else %}
                  <h6>Select Size</h6>
                  <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons" >
                    {% for i in product.variants.sizes %} <!-- calling using related_name from products.models.ProductVariant. (django reverse relationship name) -->
                    <label class="btn btn-light">
                      <input type="radio" value="{{i.variant_value}}" name="size" required> {{i.variant_value | capfirst}}
                    </label>
                    {% endfor %}
                  </div> 
                {% endif %}
              </div>
          </div> <!-- row.// -->
          <div class="row">
            <div class="item-option-select" >
              {% if not product.variants.variants %} <!-- calling using related_name from products.models.ProductVariant. (django reverse relationship name) -->
              {% else %}
                <h6>Choose Variant</h6>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons" >
                  {% for i in product.variants.variants %} <!-- calling using related_name from products.models.ProductVariant. (django reverse relationship name) -->
                  <label class="btn btn-light">
                    <input type="radio" value="{{i.variant_value | capfirst}}" name="variant" required> {{i.variant_value | capfirst}}
                  </label>
                  {% endfor %}
                </div> 
              {% endif %}
            </div>
        </div> <!-- row.// -->
          <hr>
          {% if product.stock <= 0 %}
          <h5 class ="text-danger"> Out of Stock </h5>
          {% else %}
            {% if in_cart %}
            <!--product is in cart-->
            <button type="submit" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
            <a href="{% url 'cart' %}" class="btn  btn-warning"> <span class="text">Go to cart</span> <i class="fas fa-check"></i>  </a>
            {% else %}
            <!--product is not in cart-->
          <button type="submit" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
            {% endif %}
          {% endif %}
      </article> <!-- product-info-aside .// -->
  </form>
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    <div class="row">
                <div class="col-md-9">
          {% if product_reviews %}
        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            
        </header>
        
        {% for review in  product_reviews%}
        <article class="box mb-3">
          <div>
              <!-- Filled stars (★) for the rating -->
              {% for _ in review.rating|times %} {% comment %}for _ in range(review.rating) {% endcomment %}
               <span style="color: gold; font-size: 20px;">★</span>
              {% endfor %}  
        </div>
            <div class="icontext w-100">
                {% comment %} <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle"> {% endcomment %}
                
                <div class="text">
                    <span class="date text-muted float-md-right">{{review.updated_at}}</span>  
                    <h6 class="mb-1">{{review.user.username}} </h6>
                    
                </div>
            </div> <!-- icontext.// -->
            
            <div class="mt-3">
                <p>
                    {{review.subject}}
                </p>	
            </div>
            
        </article>
        {% endfor %}
        {% else %}
        <br>
        <br>
        <br>
        <br>
        <br>

        {% endif %}
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content%}