{% extends "base.html" %}

{% block title %}{{user.username}}  Profile{% endblock title %}


{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        {% include "basic_include/alerts.html" %}
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
                <a class="list-group-item active" href="#"> My order history </a>
                <a class="list-group-item" href="#"> Return and refunds </a>
                <a class="list-group-item" href="#">Settings </a>
                <a class="list-group-item" href="{% url 'add_address'%}"> Add Address </a>
                <a class="list-group-item" href="{% url 'delete_address'%}"> Delete Addresses </a>
                <a class="list-group-item" href="{% url 'update_user'%}"> Update Account </a>
            </ul>
            <br>
            <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <article class="card">
                <div class="card">
                    <div class="card">
                        <h5 class="card-header">Orders</h5>
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                <tr class="small text-uppercase">
                                  <th scope="col">Product</th>
                                  <th scope="col">Status</th>
                                  <th scope="col" width="120">Quantity</th>
                                  <th scope="col" width="160">Price</th>
                          
                                </tr>
                                </thead>
                                <tbody>
                          
                                {% for item in ordered_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            {% if item.order.is_delivered %}
                                            <div class="aside"><a href="{% url 'add_review' item.product.id %}"><img src="{{ item.product.image.url }}" class="img-sm"></a></div>
                                            {% else %}
                                             <div class="aside"><a href="{{item.product.get_url}}"><img src="{{ item.product.image.url }}" class="img-sm"></a></div>
                                             
                                            {% endif %}
                                            <figcaption class="info">
                                                <a href="{{ item.product.get_url }}" class="title text-dark" style="font-weight:bold;">{{ item.product.name}}</a>
                                                <p class="text-muted small">
                                                    {% if item.variant.all %}  <!-- many to many relationship -->
                                                        {% for items  in item.variant.all %}  
                                                        {{items.variant_type | capfirst}} : {{items.variant_value}}
                                                        <br>
                                                        {% endfor %}
                                                        {% endif %}
                                                  </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <!-- col.// -->
                                                <label for="" style="font-weight:bold;">{{item.order.status | capfirst}}</label>
                                    </td>
                                    <td>
                                        <!-- col.// -->
                                                <label for="">{{item.quantity}}</label>
                                    </td>
                                    <td>
                                        <label for="" style="font-weight:bold;">₹ {{item.price}}</label>
                                    </td>
                          
                                </tr>
                                {% endfor %}
                          
                                </tbody>
                                </table>
                          
                        
                        </div>
                    </div>
                </div> <!-- card.// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock content %}